<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCrQ0lH4Bgmd_iOCqKi_bF2wb3Jlg7r9eM</string>
	<key>GCM_SENDER_ID</key>
	<string>338371944427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.locateme</string>
	<key>PROJECT_ID</key>
	<string>locateme-414408</string>
	<key>STORAGE_BUCKET</key>
	<string>locateme-414408.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338371944427:ios:84103a4aff6321bffb03ae</string>
</dict>
</plist>